//=========================HEADER====================================

.header {
	padding-bottom: 11.46%;
	width: 100%;
	position: relative;
}
.unit-icons {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	top: 15%;
	padding: 0 2%;
}

//======================================================ИКОНКА Персонаж==========================================
//ИКОНКА Персонажы---общие стили
.unit-icon {
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	position: relative;
	width: 50%;
	&__ava {
		background-image: url("../img/ava.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 50%;
		height: 100%;
		width: 100%;
		width: 23%;
		position: relative;
		z-index: 2;
		&::before {
			content: "";
			background-image: url("../img/battlefield-head-ava-bg.png");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			display: block;
			position: absolute;
			width: 128%;
			height: 160%;
			top: -8%;
			left: -17%;
		}
	}
	&__lvl {
		position: absolute;
		top: 121%;
		left: 50%;
		transform: translateX(-50%);
		color: white;
	}
	&__hp {
		position: relative;
		display: block;
		background: url("../img/battlefield-head-hp-bg.png");
		background-repeat: no-repeat;
		background-size: cover;
		width: 72%;
		height: 55.5%;
		padding: 0 10% 0 0%;
		top: 5%;
		&-numeric {
			position: absolute;
			bottom: 23%;
			left: 3%;
			color: #e5bc00;
		}
		&-current {
			position: relative;
			height: 41%;
			width: 100%;
			background-color: #8a0000;
			top: 35%;
			overflow: hidden;
			transform: skewX(-38deg);
			@include transition;
		}
	}
	&__name {
		position: absolute;
		top: -40%;
		left: 2%;
		color: #5d5e5e;
		font-size: 1.1rem;
		width: 100%;
	}
}

//======================================================ИКОНКА Персонаж ассасин==========================================
//ИКОНКА Персонаж ассасин---общие стили
.unit-icon.unit-icon_yours {
}
//======================================================ИКОНКА Персонаж врага==========================================
//ИКОНКА Персонаж врага---общие стили
.unit-icon.unit-icon_enemys {
	justify-content: flex-end;
	.unit-icon__hp {
		padding: 0 0 0 10%;
		background-position: 100%;
		&-numeric {
			left: auto;
			right: 5%;
		}
		&-current {
			transform: skewX(38deg);
		}
	}
	.unit-icon__name {
		right: 2%;
		left: auto;
		text-align: right;
	}
}
