include submenu/submenu.pug

mixin header()
	header.header
		.unit-icons
			.unit-icons__item.unit-icons__item_yours
				.unit-icons__ava
					.unit-icons__lvl 1
				.unit-icons__hp
					.unit-icons__name Lord Byron
					.unit-icons__hp-bar
					.unit-icons__hp-numeric 
						span.unit-icons__hp-remain 100
						|&nbsp;/&nbsp;
						span.unit-icons__hp-total 100
			.unit-icons__item.unit-icons__item_enemys
				.unit-icons__hp
					.unit-icons__name Маг Сириус
					.unit-icons__hp-bar
					.unit-icons__hp-numeric 
						span.unit-icons__hp-remain 100
						|&nbsp;/&nbsp;
						span.unit-icons__hp-total 100
				.unit-icons__ava
					.unit-icons__lvl 1