mixin header()
	header.header
		.unit-icons
			.unit-icon.unit-icon_yours
				.unit-icon__ava
					.unit-icon__lvl 1
				.unit-icon__hp
					.unit-icon__name Lord Byron
					.unit-icon__hp-current
					.unit-icon__hp-numeric 
						span.unit-icon__hp-current-num 100
						|&nbsp;/&nbsp;
						span.unit-icon__hp-total 100
			.unit-icon.unit-icon_enemys
				.unit-icon__hp
					.unit-icon__name Маг Сириус
					.unit-icon__hp-current
					.unit-icon__hp-numeric 
						span.unit-icon__hp-current-num 100
						|&nbsp;/&nbsp;
						span.unit-icon__hp-total 100
				.unit-icon__ava
					.unit-icon__lvl 1
