//=========================HEADER====================================

.header {
	padding-bottom: 11.46%;
	width: 100%;
	position: relative;
}
.unit-icons {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	top: 15%;
	padding: 0 2%;
	&__ava {
		background-image: url("../img/ava.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 50%;
		height: 100%;
		width: 100%;
		width: 23%;
		position: relative;
		z-index: 2;
		&::before {
			content: "";
			background-image: url("../img/battlefield-head-ava-bg.png");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			display: block;
			position: absolute;
			width: 128%;
			height: 160%;
			top: -8%;
			left: -17%;
		}
	}
	&__lvl {
		position: absolute;
		top: 121%;
		left: 50%;
		transform: translateX(-50%);
		color: white;
	}
	&__hp {
		position: relative;
		display: block;
		background: url("../img/battlefield-head-hp-bg.png");
		background-repeat: no-repeat;
		background-size: cover;
		width: 72%;
		height: 55.5%;
		padding: 0 10% 0 0%;
		top: 5%;
		&-numeric {
			position: absolute;
			bottom: 23%;
			left: 3%;
			color: #e5bc00;
		}
		&-bar {
			position: relative;
			height: 41%;
			width: 100%;
			background-color: #8a0000;
			top: 35%;
			overflow: hidden;
			transform: skewX(-38deg);
		}
	}
	&__name {
		position: absolute;
		top: -40%;
		left: 2%;
		color: #5d5e5e;
		font-size: 1.2rem;
		width: 100%;
	}
	&__item {
		//position: absolute;
		height: 100%;
		width: 50%;
		//width: 11.5%;
		//top: 6px;
		//left: 6px;
		display: flex;
		align-items: center;
		//position: absolute;
		position: relative;
		width: 50%;

		&_yours {
			//left: 1.3%;
		}
		&_enemys {
			//left: auto;
			//right: 1.3%;
			justify-content: flex-end;
			.unit-icons {
				&__hp {
					padding: 0 0 0 10%;
					background-position: 100%;
					&-numeric {
						left: auto;
						right: 5%;
					}
					&-bar {
						transform: skewX(38deg);
					}
				}
				&__name {
					right: 2%;
					left: auto;
					text-align: right;
				}
			}
		}
	}
}

.unit-icon__hp-bar {
	position: absolute;
	width: 115%;
	height: 12%;
	background-color: red;
	transform: rotate(-37deg);
	top: 42%;
}

.unit-icon__hp-bar-wrapper {
	position: absolute;
	top: -40px;
	width: 130px;
	height: 105px;
	left: 2px;
	transform: rotate(37deg);
	background-color: blue;
	opacity: 0.2;
	overflow: hidden;
}
